<div class="fotter section-padding">
    <div class="container">
        <div class="row">
            <div class="fotter-first">
                <div class="fotter-logo">
                    <a href=""><img src="./assets/images/footerlogo.png"></a>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</p>
                </div>
            </div>
            <div class="fotter-second">
                <div class="fotter-logo">
                    <span class="fotter-heading-border">
                        <h3>Payment Options</h3>
                    </span>
                </div>
                <div class="payment-logo mt-4 d-flex">
                    <img src="./assets/images/master_card.png">
                    <img class="stripe-logo" src="./assets/images/stripe.png">
                </div>
            </div>
            <div class="fotter-three">
                <div class="fotter-logo">
                    <span class="fotter-heading-border">
                        <h3>Recent Added</h3>
                    </span>
                </div>
                <div class="Recent-box mt-4">
                    <div class="disply-table">
                        <div class="disply-vertical">
                            <img src="./assets/images/f1.jpg">
                        </div>
                        <div class="disply-vertical">
                            <p>It is a long established fact that readable content of a layout</p>
                            <p>Added: 02-01-2021</p>
                        </div>
                    </div>
                    <div class="disply-table mt-3">
                        <div class="disply-vertical">
                            <img src="./assets/images/f2.jpg">
                        </div>
                        <div class="disply-vertical">
                            <p>It is a long established fact that readable content of a layout</p>
                            <p>Added: 02-01-2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fotter-four">
                <div class="fotter-logo">
                    <span class="fotter-heading-border">
                        <h3>Contact info.</h3>
                    </span>
                </div>
                <div class="contact-info-box">
                    <ul>
                        <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i><span>336 Airport Road,
                                    Ridgeland, SC 29936</span></a></li>
                        <li><a href=""><i class="fa fa-phone mr-2" aria-hidden="true"></i><span>(843)
                                    321-8973</span></a></li>
                        <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i><span>0900 - 1700 Eastern
                                    Time Monday - Friday</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copy">
    <p>© Copyright 2021 PartsandPlanes.com All Rights Reserved.</p>
    <span><a href="">Powered by Anviam Solutions</a></span>
</div>