<app-loder-one *ngIf="loader"></app-loder-one>
<div class="modal-header">
    <h4 class="modal-title pull-left">Change password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="login-form-padding" [formGroup]="ChangePassword" (ngSubmit)="onChangePasswordForm()">
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-1">
                    <label for="">Old Password</label>
                    <input type="text" class="form-control" formControlName="old_password" [ngClass]="{ 'is-invalid': f.old_password.touched && f.old_password.errors }">
                    <div *ngIf="f.old_password.touched && f.old_password.errors" class="invalid-feedback">
                        <div *ngIf="f.old_password.errors.required">Old password is required</div>
                        <!-- <div *ngIf="f.old_password.errors.invalidEmail">Invalid email address</div> -->
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for="">New Password</label>
                    <input type="text" class="form-control" formControlName="new_password" [ngClass]="{ 'is-invalid': f.new_password.touched && f.new_password.errors }">
                    <div *ngIf="f.new_password.touched && f.new_password.errors" class="invalid-feedback">
                        <div *ngIf="f.new_password.errors.required">New password is required</div>
                        <!-- <div *ngIf="f.new_password.errors.invalidEmail">Invalid email address</div> -->
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for="">Confirm Password</label>
                    <input type="text" class="form-control" formControlName="confirm_password" [ngClass]="{ 'is-invalid': f.confirm_password.touched && f.confirm_password.errors }">
                    <div *ngIf="f.confirm_password.touched && f.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="f.confirm_password.errors.required">Confirm password is required</div>
                        <div *ngIf="f.confirm_password.errors.mustMatch">Passwords not match</div>
                        <!-- <div *ngIf="f.email.errors.invalidEmail">Invalid email address</div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <button type="submit" class="btn custom-button mr-2 submit_btn">Submit</button>
            </div>
        </div>
    </form>
</div>