<app-common-slide></app-common-slide>
<div class="contact-us-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7">
                <h4>Keep in touch with us</h4>
                <form>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control py-4" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control py-4" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control py-4" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control py-4" placeholder="Website">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea name="" class="form-control" placeholder="Your Message" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn contact-button"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> SEND MESSAGE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-5">
                <div class="contact-para">
                    <h4>Contact Details</h4>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature making it over 2000 years old.</p>
                    <div class="display-t">
                        <div class="display-one">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="display-two">
                            <p>Devesh Premier Medical Academy, Offc no-201, B-222, B-222, Ch. Layak Ram Complex, Opp MCD offc, Main Market, Badarpur -110044, Delhi.</p>
                        </div>
                    </div>
                    <div class="display-t">
                        <div class="display-one">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="display-two">
                            <p>+91 8527981551</p>
                        </div>
                    </div>
                    <div class="display-t">
                        <div class="display-one">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="display-two">
                            <p>info@dpma.co.in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-map w-100">
    <img src="./assets/images/map.jpg" alt="">
</div>