.upload-logo-icon {
    position: absolute;
    bottom: -16px;
    left: 38%;
}

.my-profile-page .image-upload {
    width: 230px;
    height: 230px;
}

.my-profile-page .image-upload img {
    height: 190px;
    object-fit: fill;
}

.image-upload {
    position: relative !important;
}

.file-upload-button {
    background-color: var(--blue);
    border-radius: 50%;
    height: 3.5rem;
    overflow: hidden;
    position: relative;
    width: 3.5rem;
    border: 3px solid #fff;
    cursor: pointer;
}

.file-upload-button span i {
    color: #fff;
    font-size: 22px;
}


/* .file-upload-button span {
    position: relative;
} */


/* .file-upload-button span:after {
    position: absolute;
    content: '';
    top: 0px;
    left: -16px;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.file-upload-button span:before {
    position: absolute;
    content: '';
    top: -13px;
    left: -2px;
    width: 3px;
    height: 30px;
    background-color: #fff;
} */


/* .file-upload-button:after {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
} */

input[type="file"] {
    font-size: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.file-info {
    color: #999;
    font-family: Lato;
    margin-left: 0.5rem;
}

.user-profile img {
    height: 192px;
    object-fit: cover;
}

@media (max-width:991px) {
    .my-profile-page .image-upload {
        width: 180px;
        height: 180px;
    }
    .my-profile-page .image-upload img {
        height: 140px;
        object-fit: fill;
    }
    .upload-logo-icon {
        left: 30%;
    }
}

@media (max-width:767px) {
    .my-profile-page .image-upload {
        width: 300px;
        height: 300px;
    }
    .my-profile-page .image-upload img {
        height: 260px;
        object-fit: fill;
    }
    .upload-logo-icon {
        left: 42%;
    }
}