<app-loder-one *ngIf="loader"></app-loder-one>
<div class="modal-header">
    <h4 class="modal-title pull-left">Forgot password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="login-form-padding" [formGroup]="forgotPassword" (ngSubmit)="onForgotForm()">
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-1">
                    <label for="">Email</label>
                    <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
                    <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.invalidEmail">Invalid email address</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <button type="submit" class="btn custom-button mr-2 submit_btn">Submit</button>
                <!-- <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Close</button> -->
            </div>
        </div>
    </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> -->





<!-- <form class="login-form-padding" [formGroup]="forgotPassword" (ngSubmit)="onForgotForm()">
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-1">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': sub && f.email.errors }">
                <div *ngIf="sub && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.invalidEmail">Invalid email address</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <button type="submit" class="btn custom-button mr-2">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</form> -->