<app-common-slide></app-common-slide>
<div class="how-it-work-section">
    <div class="part-number-section section-padding">
        <div class="container">
            <div class="row">
                <div class="heading-two w-100 text-center pb-5">
                    <h4>Search millions of listings for by part number,<br>
                        MSN, manufacturer & more</h4>
                    <span><i class="fa fa-plane" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="images-section">
                        <img src="./assets/images/work/w1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <p>PartsAndPlanes.com is built on the most powerful and flexible servers available.  The Amazon Web Server. (AWS).</p>
                    <p>With its industry leading response time, reliability and infinite scalability, you can quickly search millions of part numbers both quickly and accurately.With its industry leading response time, reliability and infinite scalability, you can quickly search millions of part numbers both quickly and accurately.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="secound-part-work section-padding">
        <div class="section-heading mb-5">
            <h4><span>
                    Lorem Ipsum
                </span>
            </h4>
        </div>
       <div class="w-100 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                   <div class="second-part-work-para">
                    <h4>Lorem Ipsum is simply dummy text </h4>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i> It is a long established fact that a reader will be distracted.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> The point of using Lorem Ipsum.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Many desktop publishing packages.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Various versions have evolved over the years.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> There are many variations of passages of Lorem Ipsum.</li>
                    </ul>
                   </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="./assets/images/work/w2.jpg" alt="">
                </div>
            </div>
        </div>
       </div>
    </div>
    <div class="secound-part-work background-color-white section-padding">
        <div class="section-heading mb-5">
            <h4><span>
                    Lorem Ipsum
                </span>
            </h4>
        </div>
       <div class="w-100 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="./assets/images/work/w3.jpg" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="second-part-work-para">
                     <h4>Lorem Ipsum is simply dummy text </h4>
                     <ul>
                         <li><i class="fa fa-check" aria-hidden="true"></i> It is a long established fact that a reader will be distracted.</li>
                         <li><i class="fa fa-check" aria-hidden="true"></i> The point of using Lorem Ipsum.</li>
                         <li><i class="fa fa-check" aria-hidden="true"></i> Many desktop publishing packages.</li>
                         <li><i class="fa fa-check" aria-hidden="true"></i> Various versions have evolved over the years.</li>
                         <li><i class="fa fa-check" aria-hidden="true"></i> There are many variations of passages of Lorem Ipsum.</li>
                     </ul>
                    </div>
                 </div>
            </div>
        </div>
       </div>
    </div>
</div>