<app-common-slide></app-common-slide>
<div class="main-abouts section-padding">
    <div class="container">
        <div class="row">
            <div class="heading-two w-100 text-center pb-5">
                <h4>Lorem Ipsum is simply dummy <br> text of the printing</h4>
                <span><i class="fa fa-plane" aria-hidden="true"></i></span>
            </div>
        </div>

        <div class="about-section">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 mt-3">
                    <div class="first-para-about">
                        <h4>Lorem Ipsum Simply</h4>
                        <p class="mt-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
                        <div class="about-button mt-5">
                            <a>Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7">
                    <img src="./assets/images/about/a1.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7">
                    <img class="about-images-top" src="./assets/images/about/a2.jpg" alt="">
                </div>
                <div class="col-12 col-sm-12 col-md-5 mt-3">
                    <div class="first-para-about secound-para-about">
                        <h4>Lorem Ipsum Simply</h4>
                        <p class="mt-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution</p>
                        <div class="about-button mt-5">
                            <a>Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-images-abouts w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-10">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 p-0">
                                <div class="back-images-about-para about-back-margin">
                                    <div class="heading-two w-100 text-center pb-5">
                                        <h4>Our Mission</h4>
                                        <span><i class="fa fa-plane" aria-hidden="true"></i></span>
                                        <div class="about-images-backgound">
                                            <img src="./assets/images/about/airliner.png" alt="">
                                        </div>
                                    </div>
                                    <div class="w-100 text-center pt-2">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 p-0">
                                <div class="back-images-about-part">
                                    <img src="./assets/images/about/aa1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 p-0">
                                <div class="back-images-about-part">
                                    <img class="about-back-margin" src="./assets/images/about/aa2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 p-0">
                                <div class="back-images-about-para">
                                    <div class="heading-two w-100 text-center pb-5">
                                        <h4>Our Mission</h4>
                                        <span><i class="fa fa-plane" aria-hidden="true"></i></span>
                                        <div class="about-images-backgound">
                                            <img src="./assets/images/about/airliner.png" alt="">
                                        </div>
                                    </div>
                                    <div class="w-100 text-center pt-2">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="get-quote-about w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="main-part">
                        <div class="first-part">
                            <img src="./assets/images/about/air.png" alt="">
                        </div>
                        <div class="secound-part">
                            <h4>Get A Free Quote For Industrial Project</h4>
                            <p>We always bring good quality services with 100% safety</p>
                        </div>
                        <div class="third-part">
                            <div class="quote-button">
                                <a>Get A Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>