.paymeent-box {
    width: 100%;
    margin: 40px 0px;
    padding: 15px;
    position: relative;
    padding-top: 80px;
    box-shadow: 0px 1px 5px rgb(60 47 101 / 71%);
}

.heading-payment {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: #1d4078;
    width: 250px;
}

.heading-payment:after {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    background: #1d4078;
    height: 100%;
}

.heading-payment:before {
    content: '';
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid rgb(29 64 120 / 86%);
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    bottom: -20px;
    left: -40px;
    z-index: 0;
}

.heading-payment span {
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
}

.paymeent-box .heading-two h4 {
    font-size: 20px !important;
}