<div class="w-100">
    <div class="images-slider-four">
        <img src="./assets/images/slider.jpg" alt="">
    </div>
</div>
<div class="section-padding">
    <div class="container">
        <div class="row">
            <h4>Aircraft RFQ</h4>
        </div>
    </div>
    <div class="main-rfq py-4">
        <div class="container px-0">
            <div class="row">
                <div class="main-rfq-tables w-100">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="brand"></th>
                                <th>Date</th>
                                <th>RFQ Number</th>
                                <th>Part Number</th>
                                <th>Company Name</th>
                                <th>Description</th>
                                <th>CC</th>
                                <th>Qty/UoM</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                                <th>Send Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="brand"></td>
                                <td>23 Dec 2020</td>
                                <td>#16087001871</td>
                                <td>12345 RADAR BLANK</td>
                                <td>Avination.</td>
                                <td>12345 RADAR BLA</td>
                                <td>SV</td>
                                <td>1 | LA</td>
                                <td>200</td>
                                <td>10252</td>
                                <td><a>Send</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>