h4 {
    font-size: 32px;
    font-family: 'Poppins Medium';
}


/* table tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */